body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 350px;
    text-align: center;
}

h2 {
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.preparation {
    margin: 30px;
    
}

.processing {
    margin: 10px;
    display: none;
}

p {
    padding: 7px;
}

.button-login {
    background-color: #8f8639;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-register {
    background-color: #308637;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.form-group {
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.switch-form {
    margin-top: 15px;
}

.switch-form a {
    color: #007bff;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}