body {
    font-family: Arial, sans-serif;
    background-color: #323232;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ccc;
}

.container {
    background-color: #23241f;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

h2 {
    color: #ddd;
    text-align: center;
    margin-bottom: 20px;
}

 
.preparation {
    margin-bottom: 20px;
}

.processing {
    margin: 10px 0;
    display: none;
}

.sample, #input {
    font-family: 'Courier New', Courier, monospace; /* Моноширинный шрифт */
    font-size: 16px; /* Одинаковый размер шрифта */
    line-height: 1; /* Точное выравнивание между строками */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
    box-sizing: border-box;
    width: 100%;
    background-color: #23241f;
    color: #ccc;
    display: inline-block; /* Сжимаем блок по содержимому */
    letter-spacing: normal;
}

#input {
    border: 1px solid #555; /* Рамка для input */
    padding: 2px 12px; /* Небольшие отступы внутри input */
    height: auto; /* Высота по контенту */
    outline: none; /* Убираем выделение */
}

.sample {
    border: 2px solid transparent; /* Прозрачная граница для выравнивания */
    display: inline-block; /* Сжимаем блок по содержимому */
}

.container {
    display: inline-block; /* Контейнер для плотного выравнивания */
    text-align: left;
}

input, select {
    width: 100%;
    padding: 6px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 4px;
    background-color: #23241f;
    color: #ccc;
    outline: none;
    box-shadow: 0 0 0 1px #555;
}


input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 0 1px #555;
}

.button-login, .button-register, #ready {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#again, #back-to-menu {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    display: none;
}

.button-login:hover, .button-register:hover, #ready:hover, #again:hover, #back-to-menu:hover{
    background-color: #45a049;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #bbb;
}

.switch-form {
    margin-top: 15px;
    text-align: center;
}

.switch-form a {
    color: #4caf50;
    text-decoration: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

.output {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    color: #bbb;
    align-content: stretch;
    align-items: flex-end;
    flex-direction: column;
}

.output div {
    width: 75%;
    margin-top: 10px;
}
